.container1{
    
    background-color:#ffffff;
    height: 1400px;
    width: 100%px;
}

.grid-container{
display: grid;
grid-template-rows: auto auto auto;
background-color: #ffffff;
gap:20px;
width: 50%;
height: 800px;
margin-left: 350px;

}

.rectangle{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 20px;
    font-size: 30px;
    text-align: start;
    
}

img{
    padding-left: 100px;
}

.paragraph{
    font-size: 15px;
}



@media screen and (max-width: 1230px) {
    .paragraph {
        font-size: 12px;   
    }

    h3{
        font-size: 5px;
    }
    

    .rectangle{
        height: 280px;
    }

    .grid-container{
        height: 150px;
    }

    img{
        height: 150px;
    }

  }


